<div class="bg-profile pt-3">
  <div class="container pt-2">
    <h2> Olá, <%= current_user.name %>! Do que gostaria de cuidar hoje? 😊 </h2>
  
    <%if current_user.professional?  %>
      <ul class="nav nav-tabs d-flex justify-content-start" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link" id="client-tab" data-toggle="tab" href="#client" role="tab" aria-controls="client" aria-selected="true">Cliente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" id="professional-tab" data-toggle="tab" href="#professional" role="tab" aria-controls="professional" aria-selected="false">Profissional</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" id="images-tab" data-toggle="tab" href="#images" role="tab" aria-controls="images" aria-selected="false">Galeria</a>
        </li>
      </ul>
    <%end %>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade <%= 'show active' unless current_user.professional?  %>  " id="client" role="tabpanel" aria-labelledby="client-tab">
        <%= render "client"  %>
      </div>

      
      <% if current_user.professional? %>
        <div class="tab-pane fade show active" id="professional" role="tabpanel" aria-labelledby="professional-tab">
        
          <%= render "professional"  %>

        </div>
        <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">
        
          <%= render "images", profile: current_user, new_image: Image.new  %>

        </div>
      <% end %>
      
    </div>
  </div>
</div>
